In [3]:
import pandas as pd
import numpy as np

In [5]:
rides = pd.read_csv('/home/michael/Documents/Projects/divvy/data/Divvy Trips/Divvy_Trips_2017_Q4.csv')

In [6]:
rides.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536701,12/31/2017 23:58,1/1/2018 0:03,3304,284,159,Claremont Ave & Hirsch St,69,Damen Ave & Pierce Ave,Subscriber,Male,1988.0
1,17536700,12/31/2017 23:54,1/1/2018 0:18,5975,1402,145,Mies van der Rohe Way & Chestnut St,145,Mies van der Rohe Way & Chestnut St,Customer,NaN,NaN
2,17536699,12/31/2017 23:54,1/1/2018 0:18,4906,1441,145,Mies van der Rohe Way & Chestnut St,145,Mies van der Rohe Way & Chestnut St,Customer,NaN,NaN
3,17536698,12/31/2017 23:48,12/31/2017 23:53,5667,315,340,Clark St & Wrightwood Ave,143,Sedgwick St & Webster Ave,Subscriber,Male,1963.0
4,17536697,12/31/2017 23:42,12/31/2017 23:47,5353,272,240,Sheridan Rd & Irving Park Rd,245,Clarendon Ave & Junior Ter,Subscriber,Male,1977.0

In [7]:
rides.shape

(669239, 12)

In [10]:
rides.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration           int64
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
dtype: object

In [5]:
stations = pd.read_csv('/home/michael/Documents/Projects/divvy/Divvy_Trips_2017_Q3Q4/Divvy_Stations_2017_Q3Q4.csv')

In [12]:
stations.head()

,id,name,city,latitude,longitude,dpcapacity,online_date,Unnamed: 7
0,2,Buckingham Fountain,Chicago,41.876393,-87.620328,27,6/10/2013 10:43,NaN
1,3,Shedd Aquarium,Chicago,41.867226,-87.615355,55,6/10/2013 10:44,NaN
2,4,Burnham Harbor,Chicago,41.856268,-87.613348,23,6/10/2013 10:46,NaN
3,5,State St & Harrison St,Chicago,41.874053,-87.627716,23,6/10/2013 10:46,NaN
4,6,Dusable Harbor,Chicago,41.885041,-87.612794,39,6/10/2013 11:18,NaN

In [13]:
stations.shape

(585, 8)

In [20]:
weather = pd.read_csv('/home/michael/Downloads/1243492.csv')
weather.head()

/home/michael/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10,11,12,13,14,15,16,17,20,22,23,25,26,27,28,29,33,34,39,40,44,45,59,63,64,67,68,69,72,73,74,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYPRSENTWEATHERTYPE,...,MonthlyMaxSeaLevelPressureTime,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD
0,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2013-01-01 00:51,FM-15,OVC:08 85,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
1,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2013-01-01 01:51,FM-15,OVC:08 90,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
2,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2013-01-01 02:51,FM-15,BKN:07 85 OVC:08 100,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
3,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2013-01-01 03:00,FM-12,NaN,9.94,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
4,WBAN:14819,CHICAGO MIDWAY AIRPORT IL US,186.5,41.78611,-87.75222,2013-01-01 03:51,FM-15,OVC:08 90,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
weather.columns

Index(['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE',
       'REPORTTPYE', 'HOURLYSKYCONDITIONS', 'HOURLYVISIBILITY',
       'HOURLYPRSENTWEATHERTYPE', 'HOURLYDRYBULBTEMPF', 'HOURLYDRYBULBTEMPC',
       'HOURLYWETBULBTEMPF', 'HOURLYWETBULBTEMPC', 'HOURLYDewPointTempF',
       'HOURLYDewPointTempC', 'HOURLYRelativeHumidity', 'HOURLYWindSpeed',
       'HOURLYWindDirection', 'HOURLYWindGustSpeed', 'HOURLYStationPressure',
       'HOURLYPressureTendency', 'HOURLYPressureChange',
       'HOURLYSeaLevelPressure', 'HOURLYPrecip', 'HOURLYAltimeterSetting',
       'DAILYMaximumDryBulbTemp', 'DAILYMinimumDryBulbTemp',
       'DAILYAverageDryBulbTemp', 'DAILYDeptFromNormalAverageTemp',
       'DAILYAverageRelativeHumidity', 'DAILYAverageDewPointTemp',
       'DAILYAverageWetBulbTemp', 'DAILYHeatingDegreeDays',
       'DAILYCoolingDegreeDays', 'DAILYSunrise', 'DAILYSunset', 'DAILYWeather',
       'DAILYPrecip', 'DAILYSnowfall', 'DAILYSnowDepth',
       'DAILYAverageStationPressure', 'DAILYAverageSeaLevelPressure',
       'DAILYAverageWindSpeed', 'DAILYPeakWindSpeed', 'PeakWindDirection',
       'DAILYSustainedWindSpeed', 'DAILYSustainedWindDirection',
       'MonthlyMaximumTemp', 'MonthlyMinimumTemp', 'MonthlyMeanTemp',
       'MonthlyAverageRH', 'MonthlyDewpointTemp', 'MonthlyWetBulbTemp',
       'MonthlyAvgHeatingDegreeDays', 'MonthlyAvgCoolingDegreeDays',
       'MonthlyStationPressure', 'MonthlySeaLevelPressure',
       'MonthlyAverageWindSpeed', 'MonthlyTotalSnowfall',
       'MonthlyDeptFromNormalMaximumTemp', 'MonthlyDeptFromNormalMinimumTemp',
       'MonthlyDeptFromNormalAverageTemp', 'MonthlyDeptFromNormalPrecip',
       'MonthlyTotalLiquidPrecip', 'MonthlyGreatestPrecip',
       'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyDaysWithGT90Temp',
       'MonthlyDaysWithLT32Temp', 'MonthlyDaysWithGT32Temp',
       'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithGT001Precip',
       'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT1Snow',
       'MonthlyMaxSeaLevelPressureValue', 'MonthlyMaxSeaLevelPressureDate',
       'MonthlyMaxSeaLevelPressureTime', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureDate', 'MonthlyMinSeaLevelPressureTime',
       'MonthlyTotalHeatingDegreeDays', 'MonthlyTotalCoolingDegreeDays',
       'MonthlyDeptFromNormalHeatingDD', 'MonthlyDeptFromNormalCoolingDD',
       'MonthlyTotalSeasonToDateHeatingDD',
       'MonthlyTotalSeasonToDateCoolingDD'],
      dtype='object')

In [24]:
weather.shape

(127269, 90)

In [26]:
weather.groupby('STATION_NAME')[['DATE']].count()

                                            DATE
STATION_NAME
CHICAGO MIDWAY AIRPORT IL US               62305
CHICAGO OHARE INTERNATIONAL AIRPORT IL US  64964

In [14]:
permitdata = pd.read_csv('/home/michael/Downloads/Chicago_Park_District_-_Event_Permits.csv')

In [16]:
permitdata.head()

,Requestor,Organization,Park Number,Park/Facility Name,Reservation Start Date,Reservation End Date,Event Type,Event Description,Permit Status
0,William Benson,--,8480.0,Garfield Conservatory All Show Rooms,01/07/2012,01/07/2012,Permit - Media: Non-Commercial Photography,Chicago Photography Academy photo class shoot ...,Completed
1,Marcin Hapunik,--,8480.0,Garfield Conservatory All Show Rooms,01/07/2012,01/07/2012,Permit - Media: Non-Commercial Photography,Marcin Hapunik Wedding Photos (Non-exclusive Use),Completed
2,Nolberto Lopez,--,8480.0,Garfield Conservatory All Show Rooms,01/07/2012,01/07/2012,Permit - Media: Non-Commercial Photography,Lopez Wedding Photos #1 (Non-exclusive Use),Completed
3,Ruben Codrean,--,8480.0,Garfield Conservatory All Show Rooms,01/08/2012,01/08/2012,Permit - Media: Non-Commercial Photography,Michael & Bianca wedding photos #2 (Non-exclus...,Completed
4,Svitlana Dukhovna,--,8480.0,Lincoln Conservatory All Show Rooms,01/14/2012,01/14/2012,Permit - Media: Non-Commercial Photography,Dukhovna wedding photos (Non-exclusive Use),Completed

In [18]:
permitdata.groupby('Event Type')[['Permit Status']].count()

                                                    Permit Status
Event Type
Administrative Reservation - Internal Hold PARKS            13757
Administrative Reservation - Internal Hold REVENUE           2034
Administrative Reservation - Park Legacy Items               3645
Permit - Athletic Event Level 1                              1229
Permit - Athletic Event Level 2                               471
Permit - Athletic Event Level 3                              1800
Permit - Athletic Event Level 4                              1026
Permit - Athletic Event Level 5                               825
Permit - Athletic Training                                  28064
Permit - Commemorative Event Level 1                          364
Permit - Commemorative Event Level 2                          228
Permit - Commemorative Event Level 3/TiffanyGarden             17
Permit - Commemorative Event Level 4/TiffanyGarden             13
Permit - Corporate Event Level 1                              554
Permit - Corporate Event Level 2                              343
Permit - Corporate Event Level 3                             2059
Permit - Festival/Performance/12,001+ Event                  4414
Permit - Media:  Filming Level 1                              141
Permit - Media:  Filming Level 3                               66
Permit - Media:  Non-Commercial Photography                  2148
Permit - Media:  Still Photography                            330
Permit - Media: Filming Level 2                               392
Permit - Media: Filming Level 4                               895
Permit - Media: Student Filming/Photography                   259
Permit - Picnic Level 1                                      2302
Permit - Picnic Level 2                                       748
Permit - Picnic Level 3                                       787
Permit - Picnic Level 4                                       166
Permit - Promotions                                           560

In [31]:
permitdata[permitdata['Event Type'] ==  'Permit - Festival/Performance/12,001+ Event'].tail()

,Requestor,Organization,Park Number,Park/Facility Name,Reservation Start Date,Reservation End Date,Event Type,Event Description,Permit Status
69592,Jaclyn Little,--,24.0,Grant Tennis Courts,07/18/2018,07/18/2018,"Permit - Festival/Performance/12,001+ Event",Lollapalooza #9016185,Tentative
69598,James Special Events Management,--,19.0,Jackson Soccer-3 fields E-W-N,07/01/2018,07/02/2018,"Permit - Festival/Performance/12,001+ Event",Chicago Taco and Tequila Festival,Tentative
69599,Jaclyn Little,--,24.0,Grant Tiffany Garden and Adjacent Lawns,08/01/2018,08/01/2018,"Permit - Festival/Performance/12,001+ Event",Lollapalooza #9016185,Tentative
69614,Jaclyn Little,--,24.0,Grant Lower Hutchinson Entire,08/09/2018,08/09/2018,"Permit - Festival/Performance/12,001+ Event",Lollapalooza #9016185,Tentative
69635,Jaclyn Little,--,24.0,Grant North Rose Garden,07/21/2018,07/21/2018,"Permit - Festival/Performance/12,001+ Event",Lollapalooza #9016185,Tentative